{% extends "base.html" %}
{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="panel right">
        <h1>Create a Ribbit</h1>
        <p>
            <form action="/submit" method="post">
            {% for field in ribbit_form %}{% csrf_token %}
            {{ field }}
            {% endfor %}
            <input type="hidden" value="{{ next_url }}" name="next_url">
            <input type="submit" value="Ribbit!">
            </form>
        </p>
    </div>
    <div class="panel left">
        <h1>Buddies' Ribbits</h1>
        {% for ribbit in ribbits %}
        {% if ribbit.ribbit.retweeted == 0 %}
            <div class="ribbitWrapper">
                <a href="/users/{{ ribbit.ribbit.user.username }}">
                    <img class="avatar" src="{{ ribbit.ribbit.user.profile.gravatar_url }}">
                    <span class="name">{{ ribbit.ribbit.user.first_name }}</span>
                </a>
                @{{ ribbit.ribbit.user.username }}
                <p>
                    {{ ribbit.content }}
                </p>
            </div>
        {% else %}
            {{ ribbit.ribbit.user.first_name }} Retweeted this
            <div class="ribbitWrapper">
                <a href="/users/{{ ribbit.ribbit.original_user.username }}">
                    <img class="avatar" src="{{ ribbit.ribbit.original_user.profile.gravatar_url }}">
                    <span class="name">{{ ribbit.ribbit.original_user.first_name }}</span>
                </a>
                @{{ ribbit.ribbit.original_user.username }}
                <p>
                    {{ ribbit.content }}
                </p>
            </div>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}
